.area{
    display: grid;
    grid-template-areas:
            'a b'
            'fl sl';
    align-self: center;
    justify-content: space-around;
    height: fit-content;
}

.line{
    grid-area: fl;
    height: 2px;
    width: 100%;
    top: 0;
    background: #1B8DFF;
    color: #65B2FF;
}

.line[data-position="1"] {
    grid-area: sl;
}

.current_games{
    display: grid;
    place-self: center;
    grid-template-columns: auto auto;
    column-gap: 5px;
    padding: 15%;
    line-height: 1;
    text-decoration: none;
    color: #2A2A2A;
    font-weight: 700;
}

.active{
    color: #1B8DFF;
    font-weight: 800;
}

.txt{
    color: initial;
}







